.alice-carousel__dots {
    margin: 30px 0 5px;
    text-align: center;
    list-style: none;
    padding: 0; }
.alice-carousel__dots-item {
    display: inline-block;
    width: 20px;
    height: 20px;
    cursor: pointer;
    border-radius: 50%;
    background-color: #FFFFFF;
    border: 2px solid #DF265E;
}
.alice-carousel__dots-item:not(:last-child) {
    margin-right: 15px; }
.alice-carousel__dots-item:hover, .alice-carousel__dots-item.__active {
    background-color: #DF265E; }